@model IEnumerable<WebShopSite.Models.WebShopViewModels.CategoriesViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<label class="alert-danger">@ViewBag.ErrorMessage</label>
<label class="alert-success">@ViewBag.Message</label>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatergoryState)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatergoryState)
        </td>
       
    </tr>
}

</table>
